<html>
    <head>
        <title>Můj blog/title>
    </head>
    <body>
        <div>
            <strong>
            <h1><a href="/">Dotace</a></h1>
          </strong>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Aktualizovaný harmonogram výzev OP PIK 2018.</a></h2>
            <p>Ministerstvo průmyslu a obchodu zveřejnilo aktualizovaný harmonogram výzev OP PIK s platností od 25. 5. 2018. Oproti předchozímu harmonogramu došlo k upřesnění termínů vyhlášení výzev a termínů pro příjem žádostí.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Schválení rozpočtu nástupnického programu Horizon 2020 s názvem Horizon Europe.</a></h2>
            <p>Dosavadní program Horizon 2020 bude nahrazen již v pořadí 9. rámcovým programem pro vědu a výzkum s názvem Horizon Europe. V rámci nového programu bude možné v letech 2021 – 2027 čerpat finanční prostředky na podporu v oblasti výzkumu a inovací, a to například prostřednictvím vývoje prototypů, či přenosu znalostí a technologií.</p>
        </div>
    </body>
</html>
